@model Domain.DTO.Security.UserRoles.UserRolesDTO
@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    ViewBag.Title = "دسترسی نقش ها ";
}

@if (ViewBag.UserTitle != null)
{
    <h1>مدیریت دسترسی کاربر @ViewBag.UserTitle</h1>
}

<form method="post" asp-action="UserRoles">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="UserId" type="hidden" />
    <table class="table table-dark">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>انتخاب</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.Roles[i].Title" type="hidden">
                        @Model.Roles[i].Title
                    </td>
                    <td>
                        <input asp-for="@Model.Roles[i].IsSelected">
                        <input asp-for="@Model.Roles[i].RoleID" type="hidden">
                    </td>

                </tr>
            }




        </tbody>
    </table>

    <button type="submit" class="btn btn-success">به روز رسانی</button>
    <a asp-action="users" class="btn btn-danger">بازگشت</a>

</form>